/* global reset */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: hsl(212, 45%, 89%);

  /*this is for centering the container vertically  */
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh; /* Full height of the viewport */
}

.qr-component-img {
  width: 285px;
  /* height: 300px; */
  margin: 15px 18px 21px 18px;
  border-radius: 10px;
  justify-self: center;
}

.qr-component-title {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.qr-component-title-description {
  font-size: 16px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding-bottom: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
